<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
       <app-header></app-header>
      <div id="content-wrapper" class="d-flex flex-column">
   
           <!-- Main Content -->
          <div id="content">
               <app-head></app-head>
               <!-- Begin Page Content -->
            <div class="container-fluid">

              <!-- Page Heading -->
              <h1 class="h3 mb-2 text-gray-800 line">Nouvel enfant</h1>
              <div class="card o-hidden border-0 shadow-lg my-5">
                  <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                      <div class="col-lg-2"></div>
                      <div class="col-lg-8">
                        <div class="p-5">
                          <div class="text-center">
                            <h1 class="h5 text-gray-900 mb-4">remplir le formulaire !</h1>
                          </div>
                          <form class="user">
                            <div class="form-group row">
                              <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name">
                              </div>
                              <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-6 mb-3 mb-sm-0">
                                  <input type="text" class="form-control form-control-user" id="exampleInputEmail" placeholder="Other Name">
                              </div>
                              <div class="col-sm-6 mb-3 mb-sm-0">
                                  <input type="date" class="form-control form-control-user" placeholder="01/01/1900">
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="exampleInputPassword" placeholder="Father Name">
                              </div>
                              <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Mother Name">
                              </div>
                            </div>
                            <div class="form-group">
                              <input type="file" class="form-control form-control-user">
                            </div>
                            <a href="" class="btn btn-primary btn-user btn-block">
                              Ajouter
                            </a>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
</body>
