<style>
    .in {
        margin-left: 10%;
    }
    .line {
        display: inline-block;
        word-spacing: 50%;
    }
    #ajout{
        margin-left: 80%;
    }
</style>
<script src="../../assets/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../../assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="../../assets/js/demo/datatables-demo.js"></script>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
       <app-header></app-header>
       <div id="content-wrapper" class="d-flex flex-column">
   
           <!-- Main Content -->
           <div id="content">
               <app-head></app-head>
               <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800 line">Bracelets</h1>
            <a routerLink="/new-bracelet" id="ajout" class="d-none mb-2 d-sm-inline-block btn btn-sm btn-primary shadow-sm line"><i class="fas fa-plus text-white-50"></i> ajouter bracelet</a>
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Bluetooth</th>
                        <th>Wifi</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Bluetooth</th>
                        <th>Wifi</th>
                        <th>Action</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr *ngFor="let bracelet of bracelets | async">
                        <td>{{bracelet.bluetooth}}</td>
                        <td>bracelet1W</td>
                        <td>
                            <a routerLink="/edit-bracelet" class="btn btn-primary btn-circle in">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="#" class="btn btn-danger btn-circle in">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
  
          </div>
          <!-- /.container-fluid -->